{
   "parserOptions": {
      "ecmaFeatures": {
         "jsx": true,
         "modules": true
      }
   },
   "env": {
      "browser": true,
      "jest": true,
      "node": true
   },
   "extends": "airbnb",
   "parser": "babel-eslint",
   "plugins": [
      "babel",
      "import",
      "react"
   ],
   "globals": {
      __DEVELOPMENT__: true,
   },
   "rules": {
      "import/prefer-default-export": 0,
      "indent": [1, 3, { "SwitchCase": 1 }],
      "react/jsx-filename-extension": 0,
      "react/jsx-indent": [1, 3],
      "react/jsx-space-before-closing": 0,
      "react/jsx-tag-spacing": 0,
      "react/prefer-stateless-function": 0,
      "semi": [2, 'never']
   },
   "settings": {
      "import/resolver": {
         "webpack": {
            "config": "webpack.config.base.js"
         }
      }
   }
}
